html body {
  --primary400: #111111;
  --primary500: #0a0a0a;
  --primary600: #000000;
  --primary700: #000000;
}

[data-theme='dark'] {
  --primary400: #e5e5e5;
  --primary500: #d4d4d4;
  --primary600: #a3a3a3;
  --primary700: #737373;
}
